
.css-exercises {
    color:black;  
    background: hotpink;
    width: 200px;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;
}

.css-1 {
    background: yellow;
  float: left;
  width:50%;
  height:100px;
}