.css-exercises {
  color: black;
  background: hotpink;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
}

.float-left {
  background: yellow;
  float: left;
  width: 20%;
  height: 300px;
}

.float-right {
  background: yellow;
  float: right;
  width: 20%;
  height: 100px;
}
