main {
    background:#448FA3;
}
.top-menu {
    text-align:center;
    background:#448FA3; 
    font-size: 24px;
    padding: 10px;
}
.menu {
    color:#5e363c;
    font-style: initial;
    padding: 12px;
}
.top-header {
    text-align: center;
    padding: 5px;
    background:#448FA3;
}
.top-heading-1 {
    font-size: 50px;
    color: #02182B;
    text-align: center;
    padding: 3px;
}
.top-heading-2 {
    color:#68C5DB;
    text-align: center;
    padding: 3px;
    font-size: 22px;
    background:#448FA3; 
    border: #D7263D solid 3px;
}



.footer {
    text-align: center;
    background:#448FA3;
    border: 3px solid #D7263D;
    color:#68C5DB;
    padding: 5px;
}

.images-michal {
    width: 250px;
}
.logo-html-vsc-notes {
    width: 250px;
}
.vsc-logo {
    width: 300px;
}
.css-logo {
    width: 150px;
}
.dictionary-logo {
    width: 170px;
   
}
.js-logo {
    width: 115px;
}

.heading-2 {
    text-align:justify;
    background: #448FA3;
    color: #D7263D;
    padding: 10px;  
}
.content {
    color:#02182B;
    padding: 5px;
}
.css-exercises {
    background: rgba(23, 195, 201, 0.308);
  width: 500px;
   height: 100px;
   display:inline-block;
   font-style: inherit;
   /*  */
   
}